<div class="container">
  <div class="col-md-8 col-md-offset-2">
  <h2>Portfolio Manager</h2>
  
  <h3>Sign Up</h3>
  <form method="POST" action='/signup'><br>
    Username: <input type="text" id='username' name='username'><br><br>
    Email: <input type='text' id='email' name='email'><br><br>
    Password: <input type='password' name='password'><br><br>
    <input type="submit" value ='Submit'>
  </form>
  <br>
  
  <a href="/login">Log In</a>
  
  </div>
</div>