<div class="container">
  <div class="col-md-8 col-md-offset-2">
  <h2>Portfolio Manager</h2>
  
  <h3>Log In</h3>
  <form method="POST" action='/login'><br>
    Username: <input type="text" id='username' name='username'><br><br>
    Password: <input type='password' id='password' name='password'><br><br>
    <input type="submit" value ='Submit'>
  </form>
  <br>
  <a href="/signup">Sign Up</a>
  </div>
</div>