<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Portfolio Manager</h2>

      <p>Welcome to Portfolio Manager</p>
      <p>Portfolio Manager is a tool designed to help you keep track of your investment portfolios. </p>
      <p>Please log in or sign up using the buttons below.</p>
      
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    
  </div>
</div>
